# ===== Keil build output =====
MDK-ARM/Objects/
MDK-ARM/Listings/

# ===== Keil user files =====
MDK-ARM/*.uvoptx
MDK-ARM/*.uvgui*
MDK-ARM/*.uvguix*

# ===== Debug / Trace =====
MDK-ARM/EventRecorderStub.scvd
MDK-ARM/JLinkLog.txt
MDK-ARM/JLinkSettings.ini

# ===== OS =====
Thumbs.db
.DS_Store
